nav{
    /* border: 2px */
    /* border-style: outset; */
    border: 2px outset hsl(23.77deg 37.59% 72.35%);
    border-radius: 5px;
    width: 100%;
}



/* 320px — 480px: Mobile devices. */

@media (min-width: 320px) and (max-width: 480px) {
  nav {
      width: 95%;
  }
  footer{
    display: inline-flex;
  }
}

/* 481px — 768px: iPads, Tablets. */

@media (min-width: 481px) and (max-width: 768px) {
  nav {
      width: 100%;
  }
  footer{
    display: inline-flex;
  }
}

/* 769px — 1024px: Small screens, laptops. */
@media (min-width: 769px) and (max-width: 1024px) {
  nav {
      width: 100%;
  }
  footer{
    display: inline-flex;
  }
}


/* 1025px — 1200px: Desktops, large screens. */

@media (min-width: 1025px) and (max-width: 1200px) {
  nav {
      width: 100%;
  }
  footer{
    display:inline-flex ;
  }
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: right;
  }
  
  li:last-child {
    border-right: none;
  }
  
  li a {
    display: block;
    color: hsl(202.5deg 14.55% 21.57%);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-right: 2px dashed hsl(23.77deg 37.59% 72.35%);
    border-radius: 20px;
    margin: 10px;

  }
  
  li a:hover:not(.active) {
    background-color:hsl(23.77deg 37.59% 72.35%);
  }
  
  .active {
    background-color: hsl(45.65deg 31.94% 71.76%);
  }

  li h3{
    /* background-color: hsl(23.77deg 37.59% 72.35%); */
    color: hsl(24.77deg 37.59% 72.35%);
  }





  .flex-container {
    display: flex;
    /* grid-template-columns: auto auto auto; */
    /* background-color: #2196F3; */
    /* padding: 10px; */
    /* justify-content: space-around; */
  }
  .flex-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px none rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: left;
    margin: 30px;
    width: 50%;
    color: #000;
  }





  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    /* background-color: hsl(23.77deg 37.59% 72.35%); */
    padding: 10px;
  }
  
  .grid-container div {
    background-color: white;
    border: 1px none black;
    text-align: center;
    font-size: 30px;
    padding: 5px;
  }

  h2{
    text-align: center;
  }

  footer{
    margin-top: 50px;
    /* background-color: hsl(23.77deg 37.59% 72.35%); */
  }

  hr{
    background-color: hsl(23.77deg 37.59% 72.35%);
    /* color: hsl(23.77deg 37.59% 72.35%); */
    width: 100%;
    height: 2px;
    margin-top: 50px;
    
  }



  .foot-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 5px;
    background-color: hsl(23.77deg 37.59% 72.35%);
    padding: 10px;
  }

  .foot-container div {
    background-color: hsl(23.77deg 37.59% 72.35%);
    border: 1px solid black;
    border-style: none;
    /* text-align: center; */
    font-size: 20px;
    padding: 30px;
    width: 30%;
  }


  .btn{
    text-align: center;
    border-radius: 8px;
    height: 40px;
    margin: 50px;
    width: 100px;
    background-color: rgb(100, 100, 100);
    color: white;
  }